:root{
    --primary-color:#3c84f2;
    --secodary-color:#e8332e;
    --third-color:#ffc059;
    --fourth-color:#48464c;
}

/* wrapper */
@media only screen
and (max-width:1200px){
    .wrapper{
        padding: 0 25px;
    }
}
/* wrapper end*/

@media only screen
and (max-width:1100px){

    .services_box_con{
        display: block;
    }
    /* services */

    .services_con_main{
        padding: 0;
        display: none;
    }
    /* services end*/
}

@media only screen
and (max-width:1000px){
    /* header */
    /* header end*/

    /* banner */
    /* banner end*/

    /* about us */
    /* about us end*/

    /* services */

    /* services end*/

    /* product */
    /* product end*/

    /* contact */
    /* contact end*/

    /* footer */
    .footer_con{
        flex-direction: column;
    }
    .footer_logo_address{
        width: 100%;
        justify-content: space-between;
    }
    .footer_nav{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
    }
    /* footer end */
}

@media only screen
and (max-width:830px){
    /* header */
    nav .navlinks ul{
        gap: 32px;
    }
    /* header end*/
}

@media only screen
and (max-width:800px){
    /* header */
    .nav{
        width: 100%;
        min-height: 100vh;
        background: #fff !important;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 11;
        padding: 90px 25px;
        display: none;
        opacity: 0;
        /* animation: slideIn 5s; */
    }
    .fixed_logo{
        position: absolute;
        z-index: 99999;
    }
    nav .navlinks li:nth-child(5){
        display: block !important;
    }
    nav .navlinks li:nth-child(6){
        display: block !important;
    }
    .menu_btn{
        display: block !important;
    }
    .menu_btn_main svg{
        stroke: #fff;
    }
    .menu_btn svg{
        stroke: #000;
    }
    .close_btn{
        display: block !important;
    }
    .show_nav{
        opacity: 1;
        right: 0;
        display: block;
    }

    .header_con nav ul{
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .header_con nav li{
        font-size: 22px;
    }
    nav .navlinks ul li a{
        color: #000;
    }
    nav .navlinks li::after{
        background: none;
        width: 0;
        height: 0;
    }

    nav .navlinks{
        height: 100%;
    }
    .language{
        display: none;
    }
    /* .language */
    /* banner */
    .banner_text h2 span{
        display: block;
    }
    .bnr_con{
        align-items: left;
    }
    .bnr_info{
        width: 100%;
    }
    /* banner end*/

    /* about us */
    .about_us{
        padding: 60px 0;
    }
    .about_img{
        margin-top: 30px;
    }
    .about_us_con{
        flex-direction: column;
        align-items: flex-start;
    }
    .about_text{
        max-width: 100%;
    }
    .about_text p{
        padding-right: 0;
    }
    /* about us end*/

    /* contact */
    .contact_con{
        flex-direction: column-reverse;
    }
    .contact_form{
        max-width: 100%;
    }
    .contact_fom_address_con{
        gap: 25px;
    }
    /* contact end*/

    /* services */
    .services_con{
        flex-direction: column;
        padding: 0;
        /* display: none; */
    }
    .services_menu{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .services_menu ul{
        width: 100%;
        display: flex;
        gap: 6px;
        justify-content: space-between;
    }
    .services_menu ul li{
        padding: 10px 0;
        border-bottom: 2px solid transparent;
    }
    .services_menu ul li:hover{
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
        cursor: pointer;
    }
    .services_menu ul li:first-child{
        border-bottom: 2px solid var(--primary-color);
    }

    .owl-carousel{
        padding: 0;
    }
    .item{
        width: 100%;
    }

    /* services */
}

@media only screen
and (max-width:600px){

    swiper-slide .services_box{
        padding: 40px;
        /* width: 100%; */
    }
    swiper-slide:first-child{
        width: 100%;
    }
    swiper-slide:nth-child(2){
        max-width: 100%;
    }
    swiper-slide:nth-child(3){
        max-width: 100%;
    }
    swiper-slide:last-child{
        max-width: 100%;
    }
}


@media only screen
and (max-width:500px){
    /* header */
    /* header end*/

    /* banner */
    .banner_text h2{
        font-size: 36px;
    }
    .banner_btm_counter{
        margin-top: 40px;
    }
    .banner_text small{
        display: none !important;
    }
    .banner_btm_counter{
        gap: 20px 20px;
    }
    .banner_btm_box{
        max-width: 140px;
    }
    .banner_btm_box small{
        font-size: 16px;
    }
    .banner_btm_box small span{
        display: block;
    }
    /* banner end*/

    /* about us */
    /* about us end*/

    /* services */
    .services_det_con{
        flex-direction: column-reverse;
    }
    .services_details{
        padding-right: 0;
        max-width: 100%;
    }
    .services_img{
        height: auto;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .services_img figure{
        position: static;
    }
    
    /* services end*/

    /* product */
    .product_box{
        flex-direction: column;
    }
    /* product end*/

    /* contact */
    /* contact end*/

    /* footer */
    .footer_logo_address{
        flex-direction: column;
    }
    .footer_nav{
        flex-direction: column;
        align-items: flex-start;
    }
    footer nav{
        width: 100%;
    }
    .footer_nav ul{
        gap: 5px;
        align-items: center;
        justify-content: space-between;
    }
    /* footer end */
}

    /* header */
    /* header end*/

    /* banner */
    /* banner end*/

    /* about us */
    /* about us end*/

    /* services */
    /* services end*/

    /* product */
    /* product end*/

    /* contact */
    /* contact end*/

    /* footer */
    /* footer end */
